<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
 - List popular languages for Data Science
 - Tools for Data Science
 - Introduction to data science coding

### Some of the popular languages that Data Scientists use are:
###### 1. Python
###### 2. R
###### 3. SQL

### Some of the commonly used libraries used by Data Scientists include:
###### 1. Pandas
###### 2. NumPy
###### 3. Matplotlib

In [5]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
from tabulate import tabulate

In [9]:
table = [["R"],
["Python"],
["SQL"]]

col_names = ["Data Science Tools"]
print(tabulate(data, headers=col_names, tablefmt="fancy_grid"))

╒══════════════════════╕
│ Data Science Tools   │
╞══════════════════════╡
│ R                    │
├──────────────────────┤
│ Python               │
├──────────────────────┤
│ SQL                  │
╘══════════════════════╛

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
x = 40
y = 12
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print(add)
print(sub)
print(pro)
print(div)

52
28
480
3.3333333333333335

##### This a simple arithmetic expression to mutiply then add integers

In [17]:
(3*4)+5

17

##### This will convert 200 minutes to hours by diving by 60

In [29]:
x = 200;
print(x / 60)

3.3333333333333335

## Author
Manish Vijaykumar Jagwani